.main-sidebar{
    background-color: #009BA9;
}

.image img{
    padding: 2px; 
    display: inline-block;
    width: 85%; 
    height: 85%;
    justify-content: center;
    margin-top: 5%;
    margin-left: 2%;

}

.nav-item p{
    color:white;
    font-family:  Arial, Helvetica, sans-serif;
}

.nav-item p:hover{
    color:rgba(228, 225, 225, 0.781);
    font-family:  'Lucida Sans Unicode';
}

 i.nav-icon{
    color:hsl(0, 3%, 8%);
}

.icon-super-upload {
    font-size: 90px !important;  /* tamaño sin afectar nada más */
    color: #009BA9;
    margin-bottom: 10px;
}






